div {
  width: fit-content;
  height: fit-content;
  display: inline-block;
}

.tideCardHigh {
  width: 5vw;
  position: absolute;
  height: fit-content;
  display: inline-block;
  top: -0.5em;
  font-size: x-small;
  font-weight: 600;
  color: #464646;
  text-align: center;
}
.tideCardLow {
  width: 5vw;
  position: absolute;
  height: fit-content;
  display: inline-block;
  top: 0.5em;
  font-size: x-small;
  font-weight: 600;
  color: #464646;
  text-align: center;
}

p {
  margin: 0;
}

.hidden {
  display: none;
}

i {
  font-size: 2em;
}
