.TideContainer {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  left: -25px;
  height: 20vh;
  width: 100vw;
  position: fixed;
  bottom: 60vh;
  z-index: 2;
}

button {
  margin: 5px 35%;
  border: none;
  border-radius: 5px;
  padding: 0.5em;
  background-color: rgb(58, 58, 175);
  color: white;
  font-weight: 550;
  font-size: 1em;
}

button:hover {
  background-color: rgb(132, 132, 206);
}

button:focus {
  outline: none;
}

.cardsListHigh {
  border-radius: 10px;
}

.cardsListLow {
  border-radius: 10px;
}

.timeline {
  position: relative;
  bottom: -8vh;
  white-space: nowrap;
  margin: 0 5px;
}

.currentTime {
  position: absolute;
  margin: 9em 2.5em;
  text-align: left;
  font-size: xx-small;
}

.currentTime > p {
  font-size: x-small;
}

.board {
  position: absolute;
  width: 310px;
  height: 80px;
  right: -12vh;
  bottom: 30vh;
}
.border {
  position: absolute;
  width: 310px;
  height: 90px;
  top: -17px;
  border-bottom: 3px solid rgba(184, 120, 25, 0.301);
  border-radius: 20px;
}

@media (min-width: 768) {
  .border {
    transform: rotate(90deg);
  }
}