.Icon {
  position: fixed;
  right: 5%;
  top: 3%;
  text-align: center;
  font-weight: 600;
  color: white;
}

.cloud1 {
  position: absolute;
  right: -0.6em;
  bottom: 0.5em;
  font-size: 5em;
  animation: moveBackAndForth 25000ms infinite linear;
}
.cloud2 {
  position: absolute;
  right: 0.9em;
  bottom: 0.8em;
  font-size: 4rem;
  animation: moveBackAndForth 30000ms infinite linear;
}
.sun {
  transform: rotate(22.5deg);
}
/* .sun {
  animation: spin 10000ms infinite linear;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@keyframes moveBackAndForth {
  0% {
    transform: translate(0);
  }
  50% {
    transform: translate(0.35rem);
  }
  100% {
    transform: translate(0);
  }
}
