.WaveStatsLists {
  display: flex;
  flex-wrap: wrap;
  overflow: scroll;
  justify-content: center;
  height: 300px;
  width: 100vw;
  position: fixed;
  bottom: 27vh;
  z-index: 2;
}

.GraphCard {
  text-align: center;
  max-height: 150px;
}

rect {
  background-color: antiquewhite;
  border-radius: 10px;
}
