html,
body {
  overflow: none;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

.rootDay {
  background-image: radial-gradient(
    farthest-corner at 20px -50px,
    #1fecf3 5%,
    #15358d 100%
  );
}

.rootNight {
  background-image: radial-gradient(
    farthest-corner at 20px -50px,
    #0c5153 5%,
    #000a24 100%
  );
}
